<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
	</appSettings>
	<connectionStrings>
  <add name="telefonDBConnectionString" connectionString="Data Source=pc;Initial Catalog=telefonDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="telBlogConnectionString" connectionString="Data Source=pc;Initial Catalog=telBlog;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	<customErrors mode="Off" redirectMode="ResponseRewrite" defaultRedirect="hata.aspx"></customErrors>
	</system.web>

</configuration>
